.navbar-dark .navbar-brand {
    color: #fff !important;
}
.m-l-5{
    margin-left: 5px;
}
.m-t-15{
    margin-top: 15px;
}
.row-product .col-sm-6{
    margin-bottom: 15px;
}
#navbarColor01 .d-flex{
    color: #FFF;
}